{%  extends 'basis.html' %}
{% load static %}

{% block static_files %}
	<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block title %}
	About company
{% endblock %}
{% block content %}
	<main class="main">
		<div class="main__container">
			<h1 class="main__title">Про нашу компанию</h1>
			<div class="content">
				<div class="about-me-box">
					<img src="{% static  'images/index/me.jpg' %}" alt="My photo" class="my-photo">
					<p class="about-me">
						Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
						Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
						шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается
						при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."
						Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
						Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
						шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается
						при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."
					</p>
				</div>
				<h2 class="main__title studio-title">Моя студия</h2>
				<p class="about-studio">
					Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
					Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
					шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается
					при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."
					Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
					Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
					шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается
					при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."
				</p>
				<div class="studio-photo-list">
					<img src="{% static  'images/about/manicure_table_small.jpg'%}" alt="Studio photo" class="studio-photo-item">
					<img src="{% static  'images/about/pedicure_chair_small.jpg'%}" alt="Studio photo" class="studio-photo-item">
				</div>
			</div>
		</div>
	</main>
{% endblock %}