{%  extends 'basis.html' %}
{% block title %}
	Our reviews
{% endblock %}
{% block content %}
	<h3>You could see what peoples talk about us</h3>
	<p>Contrary to popular belief, Lorem Ipsum is not simply random text.
		It has roots in a piece of classical Latin literature from 45 BC,
		making it over 2000 years old. Richard McClinton, a Latin professor
		a.</p>
	{% for review in reviews_list %}
		{{ review.text }}<br>
		{{ review.pub_date }}<br>
		{{ review.author }}<br>
		<br>
	{% endfor %}

	{% if user.is_authenticated %}
		<h3>Add new review here please</h3>
		<form method="POST">
			{% csrf_token %}
			{{ form.text }}<br>
			<button type="submit">Add review</button>
		</form>
		<p>{{ error }}</p>
	{% else %}
		<p>Dear {{ user }}, please
			<a href="{% url 'login' %}?next={{request.path}}">LogIn</a>
			to add your review.
		</p>
	{% endif %}
{% endblock %}